<nav class="container mobile-nav" x-data="{ isOpen: false }">
    <div class="mobile-nav-header">
        <div class="title-container">
            <strong>{{.PageTitle}}</strong>
        </div>
        <div class="menu-container">
            <button @click="isOpen = !isOpen" class="hamburger">
                <span class="iconify" data-icon="mdi:menu"></span>
            </button>
        </div>
    </div>

    <div
        class="mobile-nav-menu"
        x-show="isOpen"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 transform -translate-y-2"
        x-transition:enter-end="opacity-100 transform translate-y-0"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100 transform translate-y-0"
        x-transition:leave-end="opacity-0 transform -translate-y-2"
        @click.away="isOpen = false"
    >
        <ul>
            {{range .NavItems}}
            <li>
                <a href="{{.Link}}" {{if .IsCurrent}}class="secondary" {{end}}
                    >{{.Text}}</a
                >
            </li>
            {{end}} {{if .IsLoggedIn}}
            <li>
                <a href="/logout-dialog" role="button" class="logout-button">
                    <span class="iconify" data-icon="mdi-logout"></span>
                    Logout
                </a>
            </li>
            {{end}}
        </ul>
    </div>
</nav>
