<div
    style="display: flex; flex-direction: column; gap: 10px"
    x-data="imageDownload({{.ID}})"
>
    <div id="capture-container-{{.ID}}" class="profile-picture polaroid">
        <img
            src="data:image/jpeg;base64,{{.Base64String}}"
            alt="Polaroid Profile"
        />
        <div class="caption">Meow!</div>
    </div>
    <div>
        <form method="POST" action="/delete-dialog/{{.ID}}">
            <button type="submit">
                <span
                    class="iconify"
                    data-icon="mdi-delete"
                    height="32"
                    width="32"
                ></span>
            </button>
        </form>
        <button @click="downloadStyledImage()">
            <span
                class="iconify"
                data-icon="mdi-download"
                height="32"
                width="32"
            ></span>
        </button>
    </div>
</div>
