<div
    id="capture-container-{{.ID}}"
    class="profile-picture flip"
    x-data="imageDownload({{.ID}})"
>
    <div class="flipper">
        <div class="front">
            <img
                src="data:image/jpeg;base64,{{.Base64String}}"
                alt="User Image"
            />
        </div>
        <div
            class="back"
            style="
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
            "
        >
            <form method="POST" action="/delete-dialog/{{.ID}}">
                <button type="submit" style="margin-bottom: 0px">
                    <span
                        class="iconify"
                        data-icon="mdi-delete"
                        height="32"
                        width="32"
                    ></span>
                </button>
            </form>
            <button @click="downloadStyledImage()">
                <span
                    class="iconify"
                    data-icon="mdi-download"
                    height="32"
                    width="32"
                ></span>
            </button>
        </div>
    </div>
</div>
