<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <meta name="description" content="{{.Description}}" />
        <meta name="author" content="Your Beatiful Images" />
        <meta property="og:title" content="{{.Title}}" />
        <meta property="og:description" content="{{.Description}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://yourbeatifulimages.com" />
        <meta
            name="keywords"
            content="profile, picture, polaroid, style, pic"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/public/profile-pic-styles.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"
        />
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
        ></script>
        <title>{{.Title}}</title>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Your Beatiful Images",
                "url": "https://yourbeatifulimages.com"
            }
        </script>
    </head>
    <body>
        <header>
            <div style="display: flex; justify-content: flex-end"></div>
        </header>
        <nav class="container">
            <ul>
                <li><strong>{{.PageTitle}}</strong></li>
            </ul>
            <ul>
                {{range .NavItems}}
                <li>
                    <a
                        href="{{.Link}}"
                        {{if
                        .IsCurrent}}class="secondary"
                        {{end}}
                        >{{.Text}}</a
                    >
                </li>
                {{end}} {{if .IsLoggedIn}}
                <li>
                    <a href="/logout-dialog" role="button">
                        <span class="iconify" data-icon="mdi-logout"></span>
                    </a>
                </li>

                {{end}}
            </ul>
        </nav>
        <main class="container">{{embed}}</main>
        {{template "partials/dialog" .}}
        <footer></footer>
        <script
            src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
            data-cfasync="false"
        ></script>
        <script>
            window.cookieconsent.initialise({
                palette: {
                    popup: {
                        background: "#edeff5",
                        text: "#838391",
                    },
                    button: {
                        background: "#4b81e8",
                    },
                },
                theme: "classic",
                content: {
                    message:
                        "This website uses cookies to ensure you get the best experience on our website.",
                    dismiss: "Got it!",
                    link: "Learn more",
                    href: "/cookies",
                },
            });
        </script>
    </body>
    <script
        data-name="BMC-Widget"
        data-cfasync="false"
        src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="brunof"
        data-description="Support me on Buy me a coffee!"
        data-message=""
        data-color="#0172ad"
        data-position="Right"
        data-x_margin="18"
        data-y_margin="18"
    ></script>
</html>
<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("imageDownload", (id) => ({
            id: id,
            downloadStyledImage() {
                const captureContainer = document.getElementById(
                    `capture-container-${this.id}`,
                );
                if (!captureContainer) {
                    console.error("Capture container not found");
                    return;
                }

                // If it's a flip profile picture, get the front side
                const elementToCapture =
                    captureContainer.querySelector(".front") ||
                    captureContainer;

                html2canvas(elementToCapture, {
                    width: elementToCapture.offsetWidth,
                    height: elementToCapture.offsetHeight,
                    scale: 2,
                    backgroundColor: null,
                    logging: true, // Enable logging for debugging
                })
                    .then((canvas) => {
                        // Create a new canvas with 80% width
                        const resizedCanvas = document.createElement("canvas");
                        const ctx = resizedCanvas.getContext("2d");

                        resizedCanvas.width = canvas.width * 0.8;
                        resizedCanvas.height = canvas.height;

                        // Draw original canvas onto resized canvas
                        ctx.drawImage(
                            canvas,
                            0,
                            0,
                            resizedCanvas.width,
                            resizedCanvas.height,
                        );

                        resizedCanvas.toBlob(
                            (blob) => {
                                const url = URL.createObjectURL(blob);
                                const a = document.createElement("a");
                                a.style.display = "none";
                                a.href = url;
                                a.download = `styled_image_${this.id}.png`;
                                document.body.appendChild(a);
                                a.click();
                                window.URL.revokeObjectURL(url);
                            },
                            "image/png",
                            1.0,
                        );
                    })
                    .catch((error) => {
                        console.error("Error in html2canvas:", error);
                    });
            },
        }));
    });
</script>
<style>
    h1 {
        --pico-font-family: Pacifico, cursive;
        --pico-font-weight: 400;
        --pico-typography-spacing-vertical: 0.8rem;
    }
</style>
