<div class="welcome-section" style="text-align: center">
    <h1 class="title">{{.Title}}</h1>
    <div class="feature-list">
        <p class="feature-item">
            <span class="emoji">❤️</span> Bringing joy to your life with this
            app
        </p>
        <p class="feature-item">
            <span class="emoji">📸</span> Download your polaroids and profile
            pics
        </p>
        <p class="feature-item">
            <span class="emoji">⚡</span> Simple, quick, and easy to use
        </p>
    </div>
</div>
