<div
    class="container"
    style="
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    "
    x-data="{
                resetForm: {{if .ResetForm}}true{{else}}false{{end}},
                fileError: '',
                fileSelected: false,
                validateFile(event) {
                    const file = event.target.files[0];
                    this.fileSelected = !!file;
                    if (file && file.size > 5 * 1024 * 1024) {
                        this.fileError = 'File size exceeds 5MB limit';
                    } else {
                        this.fileError = '';
                    }
                    console.log('File selected:', this.fileSelected, 'File error:', this.fileError);
                }
            }"
    x-init="$watch('resetForm', function(newValue) {
        if (newValue) {
            $refs.uploadForm.reset();
            resetForm = false;
        }
    })"
>
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
    {{if not .IsLoggedIn}} {{template "partials/word-carousell" .}}
    <div>
        <a
            href="/auth/google"
            style="
                display: inline-block;
                background-color: #4285f4;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 5px;
                font-family: Arial, sans-serif;
            "
        >
            Login with Google
        </a>
    </div>
    {{else}}
    <p>Welcome back, {{.UserEmail}}!</p>
    {{end}} {{if .Error}}
    <p style="color: red">{{.Error}}</p>
    {{end}} {{if .ProcessedImage}}
    <p style="color: green">{{.Success}}</p>
    <h3>Processed Image:</h3>
    <img
        src="data:image/jpeg;base64,{{.ProcessedImage}}"
        alt="Processed Image"
        itemprop="image"
    />
    {{end}} {{if .IsLoggedIn}}
    <form
        x-ref="uploadForm"
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
    >
        <label for="file-upload">Choose an image to upload:</label>
        <input
            id="file-upload"
            x-ref="fileInput"
            type="file"
            name="file"
            accept="image/jpeg,image/png"
            @change="validateFile($event)"
        />
        <p x-show="fileError" x-text="fileError" style="color: red"></p>
        <div
            style="
                display: flex;
                justify-content: space-between;
                align-items: normal;
                gap: 10px;
            "
        >
            {{if .UserImages}} {{if .IsPolaroid}}
            <a href="/" role="button">Profile</a>
            {{else}}
            <a href="/polaroid" role="button">Polaroid</a>
            {{end}} {{end}}
            <input
                type="submit"
                value="Upload"
                style="max-width: 180px; margin-bottom: 0"
                :disabled="!fileSelected || fileError !== ''"
            />
        </div>
    </form>
    <div>
        {{if .FlashMessage}}
        <div class="flash-message">{{.FlashMessage}}</div>
        {{end}}
        <h1>Your Images:</h1>
        <div
            style="
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
            "
        >
            {{if .UserImages}} {{if .IsPolaroid}} {{range .UserImages}}
            {{template "partials/polaroid-pics" .}} {{end}} {{else}} {{range
            .UserImages}} {{template "partials/profile-pics" .}} {{end}} {{end}}
            {{else}}
            <p>No images uploaded yet.</p>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
